# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Skyfield downloads
de421.bsp
hip_main.dat
hip_main.dat.*

# Logs
*.log